<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Plantix</title>

        <!-- Favicon -->
        <link rel="shortcut icon" href="../assets/images/logo.png" />
        <link rel="stylesheet" href="../assets/css/backend-plugin.min.css" />
        <link rel="stylesheet" href="../assets/css/backend.css?v=1.0.0" />
        <link rel="stylesheet" href="../assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" />
        <link rel="stylesheet" href="../assets/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css" />
        <link rel="stylesheet" href="../assets/vendor/remixicon/fonts/remixicon.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    </head>
    <style>
        body {
            font-family: 'Segoe UI', sans-serif;
        }
        .CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
            background: none !important;
        }
        .la-bars:before {
            margin-left: 20px;
        }
        .editor-toolbar { 
            padding: 0px 0px !important;
            border-top: none !important;
            border-left: none !important;
            border-right: none !important;
            overflow-x: auto !important;
            white-space: nowrap !important;
            font-size: 13px;
        }
        .EasyMDEContainer .CodeMirror {
            border-bottom-left-radius: 0px !important;
            border-bottom-right-radius: 0px !important;
        }
        .content-md-html {
            display: flex;
            justify-content: center;
            align-self: start;
            /* width: 100%; */
            /* overflow-y: auto; */
            height: auto;
            overflow-y: auto;
            border: 1px solid #ced4da;
            padding: 5px 10px;
            border-radius: 10px;
        }
        .md-box {
            width: 50%;
            height: auto;
            max-height: 800px;
            
            /* overflow-y: auto; */
        }
        .action-box {
            display: flex;
            flex-direction: column;
            align-content: center;
            /* align-items: center; */
            justify-content: center;
            width: 15%;
            margin: auto;

        }
        .check-html, .reset-content {
            margin: 8px auto;
        }
        .html-box {
            width: 50%;
            height: auto;
            max-height: 800px;
            /* overflow-y: auto; */
            
        }
        .html-content {
            margin-top: 31px;
            width: 100%;
            min-height: 320px;
            border: 1px solid #ced4da;
            padding: 10px;
            margin-bottom: 45px;
        }
        .title-md-html {
            font-weight: 900;
            font-size: 14px;
        }
        .action-form {
            margin: 20px 0px;
        }
    </style>
    <body class="  ">
        <div id="loading">
            <div id="loading-center"></div>
        </div>
        <!-- loader END -->
        <!-- Wrapper Start -->
        <div class="wrapper">
            <div class="iq-sidebar sidebar-default">
                <div class="iq-sidebar-logo d-flex align-items-center justify-content-between">
                    <a href="/manage-system/dashboard" class="header-logo">
                        <img src="../assets/images/logo.png" class="img-fluid rounded-normal light-logo" alt="logo" />
                        <h5 class="logo-title light-logo ml-3">Plantix</h5>
                    </a>
                    <div class="iq-menu-bt-sidebar ml-0">
                        <i class="las la-bars wrapper-menu"></i>
                    </div>
                </div>
                <div class="data-scrollbar" data-scroll="1">
                    <nav class="iq-sidebar-menu">
                        <ul id="iq-sidebar-toggle" class="iq-menu">
                            <li class=" ">
                                <a href="/manage-system/dashboard" class="svg-icon">
                                    <svg
                                        class="svg-icon"
                                        id="p-dash1"
                                        width="20"
                                        height="20"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    >
                                        <path
                                            d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"
                                        ></path>
                                        <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
                                        <line x1="12" y1="22.08" x2="12" y2="12"></line>
                                    </svg>
                                    <span class="ml-4">Trang chủ</span>
                                </a>
                            </li>
                            <li class="active">
                                <a href="#product" class="collapsed" data-toggle="collapse" aria-expanded="false">
                                    <svg
                                        class="svg-icon"
                                        id="p-dash11"
                                        width="20"
                                        height="20"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    >
                                        <path
                                            d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"
                                        ></path>
                                    </svg>
                                    <span class="ml-4">Bệnh cây</span>
                                    <svg
                                        class="svg-icon iq-arrow-right arrow-active"
                                        width="20"
                                        height="20"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    >
                                        <polyline points="10 15 15 20 20 15"></polyline>
                                        <path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                                    </svg>
                                </a>
                                <ul id="product" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                                    <li class="">
                                        <a href="/manage-system/manage-diseases">
                                            <i class="las la-minus"></i><span>Quản lý bệnh cây</span>
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="/manage-system/add-diseases">
                                            <i class="las la-minus"></i><span>Thêm mới bệnh</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                              <li class=" ">
                                <a href="/manage-system/manage-feedbacks">
                                    <svg
                                        class="svg-icon"
                                        id="p-dash4"
                                        width="20"
                                        height="20"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    >
                                        <path d="M21.21 15.89A10 10 0 1 1 8 2.83"></path>
                                        <path d="M22 12A10 10 0 0 0 12 2v10z"></path>
                                    </svg>
                                    <span class="ml-4">Phản hồi</span>
                                    
                                </a>
                            </li>

                             <li class=" ">
                                <a href="/manage-system/manage-histories">
                                    <svg
                                        class="svg-icon"
                                        id="p-dash12"
                                        width="20"
                                        height="20"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    >
                                        <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                        <polyline points="14 2 14 8 20 8"></polyline>
                                        <line x1="16" y1="13" x2="8" y2="13"></line>
                                        <line x1="16" y1="17" x2="8" y2="17"></line>
                                        <polyline points="10 9 9 9 8 9"></polyline>
                                    </svg>
                                    <span class="ml-4">Lịch sử</span>
                                   
                                </a>
                                <ul id="return" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                                    <li class="">
                                        <a href="../backend/page-list-returns.html">
                                            <i class="las la-minus"></i><span>List Returns</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="../backend/page-add-return.html">
                                            <i class="las la-minus"></i><span>Add Return</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class=" ">
                                <a href="#people" class="collapsed" data-toggle="collapse" aria-expanded="false">
                                    <svg
                                        class="svg-icon"
                                        id="p-dash8"
                                        width="20"
                                        height="20"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    >
                                        <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                        <circle cx="9" cy="7" r="4"></circle>
                                        <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                        <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                    </svg>
                                    <span class="ml-4">Người dùng</span>
                                    <svg
                                        class="svg-icon iq-arrow-right arrow-active"
                                        width="20"
                                        height="20"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    >
                                        <polyline points="10 15 15 20 20 15"></polyline>
                                        <path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                                    </svg>
                                </a>
                                <ul id="people" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                                    <li class="">
                                        <a href="/manage-system/manage-users">
                                            <i class="las la-minus"></i><span>Quản lý người dùng</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/manage-system/add-new-user">
                                            <i class="las la-minus"></i><span>Thêm mới người dùng</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    
                    <div class="p-3"></div>
                </div>
            </div>
            <div class="iq-top-navbar">
                <div class="iq-navbar-custom">
                    <nav class="navbar navbar-expand-lg navbar-light p-0">
                        <div class="iq-navbar-logo d-flex align-items-center justify-content-between">
                            <i class="ri-menu-line wrapper-menu"></i>
                            <a href="/manage-system/dashboard" class="header-logo">
                                <img src="../assets/images/logo.png" class="img-fluid rounded-normal" alt="logo" />
                                <h5 class="logo-title ml-3">Plantix</h5>
                            </a>
                        </div>
                        <div class="iq-search-bar device-search">
                            <form action="#" class="searchbox">
                                <a class="search-link" href="#"><i class="ri-search-line"></i></a>
                                <input type="text" class="text search-input" placeholder="Search here..." />
                            </form>
                        </div>
                        <div class="d-flex align-items-center">
                            <button
                                class="navbar-toggler"
                                type="button"
                                data-toggle="collapse"
                                data-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent"
                                aria-label="Toggle navigation"
                            >
                                <i class="ri-menu-3-line"></i>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto navbar-list align-items-center">
                                    <li class="nav-item nav-icon search-content">
                                        <a
                                            href="#"
                                            class="search-toggle rounded"
                                            id="dropdownSearch"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false"
                                        >
                                            <i class="ri-search-line"></i>
                                        </a>
                                        <div
                                            class="iq-search-bar iq-sub-dropdown dropdown-menu"
                                            aria-labelledby="dropdownSearch"
                                        >
                                            <form action="#" class="searchbox p-2">
                                                <div class="form-group mb-0 position-relative">
                                                    <input
                                                        type="text"
                                                        class="text search-input font-size-12"
                                                        placeholder="type here to search..."
                                                    />
                                                    <a href="#" class="search-link"><i class="las la-search"></i></a>
                                                </div>
                                            </form>
                                        </div>
                                    </li>
                                    <li class="nav-item nav-icon dropdown">
                                        <a
                                            href="#"
                                            class="search-toggle dropdown-toggle"
                                            id="dropdownMenuButton2"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false"
                                        >
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="20"
                                                height="20"
                                                viewBox="0 0 24 24"
                                                fill="none"
                                                stroke="currentColor"
                                                stroke-width="2"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                class="feather feather-mail"
                                            >
                                                <path
                                                    d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
                                                ></path>
                                                <polyline points="22,6 12,13 2,6"></polyline>
                                            </svg>
                                            <span class="bg-primary"></span>
                                        </a>
                                    </li>
                                    <li class="nav-item nav-icon dropdown">
                                        <a
                                            href="#"
                                            class="search-toggle dropdown-toggle"
                                            id="dropdownMenuButton"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false"
                                        >
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="20"
                                                height="20"
                                                viewBox="0 0 24 24"
                                                fill="none"
                                                stroke="currentColor"
                                                stroke-width="2"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                class="feather feather-bell"
                                            >
                                                <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
                                                <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
                                            </svg>
                                            <span class="bg-primary"></span>
                                        </a>
                                    </li>
                                    <li class="nav-item nav-icon dropdown caption-content">
                                        <a
                                            href="#"
                                            class="search-toggle dropdown-toggle"
                                            id="dropdownMenuButton4"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false"
                                        >
                                            <img
                                                src="../assets/images/user/1.png"
                                                alt="user"
                                                class="img-fluid rounded profile-img"
                                            />
                                        </a>
                                        <div class="iq-sub-dropdown dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <div class="card shadow-none m-0">
                                                <div class="card-body p-0 text-center">
                                                    <div class="media-body profile-detail text-center">
                                                        <img
                                                            src="../assets/images/page-img/profile-bg.jpg"
                                                            alt="profile-bg"
                                                            class="rounded-top img-fluid mb-4"
                                                        />
                                                        <img
                                                            src="../assets/images/user/1.png"
                                                            alt="profile-bg"
                                                            class="rounded profile-img img-fluid avatar-70 profile-img"
                                                        />
                                                    </div>
                                                    <div class="p-3">
                                                        <h5 class="mb-1" id="profile-name"></h5>
                                                        <p class="mb-0">Phiên làm việc kết thúc lúc:</p>
                                                        <p class="mb-0" id="time-expiration"></p>
                                                        <div
                                                            class="d-flex align-items-center justify-content-center mt-3"
                                                        >
                                                            <a href="/logout" class="btn border">Đăng xuất</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
               
    <div class="content-page">

                <div class="container-fluid add-form-list">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">THÊM MỚI BỆNH</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="/create-disease" method="POST" data-toggle="validator" onsubmit="return validateFormDisease()">
                            <div class="row"> 
                                 <div class="col-md-6">                      
                                    <div class="form-group">
                                        <label>Tên bệnh *</label>
                                        <input id="inputDiseaseName" type="text" name="diseaseName" class="form-control" placeholder="Nhập tên bệnh" required >
                                        <!-- <input id="temp-markdown-editor1" type="text" class="form-control" placeholder="Enter Disease Name" > -->
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                 <div class="col-md-6">                      
                                    <div class="form-group">
                                        <label>Khoá *</label>
                                        <input id="inputKeyName" type="text" name="keyName" class="form-control" placeholder="Nhập khoá" required >
                                        <!-- <input id="temp-markdown-editor1" type="text" class="form-control" placeholder="Enter Disease Name" > -->
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12 my-2">
                                    <div class="form-group">
                                        <label>1. Triệu chứng *</label>                     
                                        <div class="content-md-html">
                                            <div class="md-box">
                                                <div class="title-md-html">Markdown Editor</div>
                                                <textarea id="markdown-editor-symbol" name="symbol" class="form-control markdown-editor" placeholder="Nhập triệu chứng gây bệnh..."></textarea>
                                                
                                            </div>
                                            <div class="action-box">
                                                <button type="reset" class="btn btn-danger reset-content" onclick="resetContentSymbol()"><i class="ri-refresh-line"></i>Làm mới</button>
                                            </div>
                                            <div class="html-box">
                                                <div class="title-md-html">HTML Content</div>
                                                <div class="html-content" id="html-content-symbol"></div>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 my-2">
                                    <div class="form-group">
                                        <label>2. Biện pháp phòng ngừa *</label>                     
                                        <div class="content-md-html">
                                            <div class="md-box">
                                                <div class="title-md-html">Markdown Editor</div>
                                                <textarea id="markdown-editor-precaution" name="precaution" class="form-control markdown-editor" placeholder="Nhập biện pháp phòng ngừa..."></textarea>
                                                
                                            </div>
                                            <div class="action-box">
                                                <button type="reset" class="btn btn-danger reset-content" onclick="resetContentPrecaution()"><i class="ri-refresh-line"></i>Làm mới</button>
                                            </div>
                                            <div class="html-box">
                                                <div class="title-md-html">HTML Content</div>
                                                <div class="html-content" id="html-content-precaution"></div>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 my-2">
                                    <div class="form-group">
                                        <label>3. Nguyên nhân gây bệnh *</label>                     
                                        <div class="content-md-html">
                                            <div class="md-box">
                                                <div class="title-md-html">Markdown Editor</div>
                                                <textarea id="markdown-editor-reason" name="reason" class="form-control markdown-editor" placeholder="Nhập nguyên nhân gây bệnh..."></textarea>
                                                
                                            </div>
                                            <div class="action-box">
                                                <button type="reset" class="btn btn-danger reset-content" onclick="resetContentReason()"><i class="ri-refresh-line"></i>Làm mới</button>
                                            </div>
                                            <div class="html-box">
                                                <div class="title-md-html">HTML Content</div>
                                                <div class="html-content" id="html-content-reason"></div>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 my-2">
                                    <div class="form-group">
                                        <label>4. Biện pháp điều trị *</label>                     
                                        <div class="content-md-html">
                                            <div class="md-box">
                                                <div class="title-md-html">Markdown Editor</div>
                                                <textarea id="markdown-editor-treatment" name="treatment" class="form-control markdown-editor" placeholder="Nhập biện pháp điều trị..."></textarea>
                                                
                                            </div>
                                            <div class="action-box">
                                                <button type="reset" class="btn btn-danger reset-content" onclick="resetContentTreatment()"><i class="ri-refresh-line"></i>Làm mới</button>
                                            </div>
                                            <div class="html-box">
                                                <div class="title-md-html">HTML Content</div>
                                                <div class="html-content" id="html-content-treatment"></div>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 my-2">
                                    <div class="form-group">
                                        <label>5. Thông tin thêm *</label>                     
                                        <div class="content-md-html">
                                            <div class="md-box">
                                                <div class="title-md-html">Markdown Editor</div>
                                                <textarea id="markdown-editor-description" name="description" class="form-control markdown-editor" placeholder="Nhập thông tin thêm..."></textarea>
                                                
                                            </div>
                                            <div class="action-box">
                                                <button type="reset" class="btn btn-danger reset-content" onclick="resetContentDescription()"><i class="ri-refresh-line"></i>Làm mới</button>
                                            </div>
                                            <div class="html-box">
                                                <div class="title-md-html">HTML Content</div>
                                                <div class="html-content" id="html-content-description"></div>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>                            
                          <div class="action-form">
                             <button type="submit" class="btn btn-primary mr-2">Thêm bệnh</button>
                            <button type="reset" class="btn btn-danger">Làm mới toàn bộ</button>   
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page end  -->
    </div>
      
      
        <!-- Wrapper End-->
        
        <!-- Backend Bundle JavaScript -->
        <script src="../assets/js/backend-bundle.min.js"></script>

        <!-- Table Treeview JavaScript -->
        <script src="../assets/js/table-treeview.js"></script>

        <!-- Chart Custom JavaScript -->
        <script src="../assets/js/customizer.js"></script>

        <!-- Chart Custom JavaScript -->
        <script async src="../assets/js/chart-custom.js"></script>

        <!-- app JavaScript -->
        <script src="../assets/js/app.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
        <!-- EasyMDE EasyMDE  -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
        <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/markdown-it/dist/markdown-it.min.js"></script>

        <!-- EasyMDE EasyMDE  -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
        <script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/markdown-it/dist/markdown-it.min.js"></script>

        <script>
            document.addEventListener('DOMContentLoaded', (event) => {
                // Lấy link ảnh từ localStorage
                const userInfoStorage = localStorage.getItem('userInfo');

                // Kiểm tra xem link ảnh có tồn tại không
                if (userInfoStorage) {
                    // Gán link ảnh vào thẻ <img>
                    const userInfo = JSON.parse(userInfoStorage);
                    // const profileImg = document.getElementById('profile-img');
                    const profileImages = document.querySelectorAll('.profile-img');
                    const profileName = document.getElementById('profile-name');
                    const timeLogin = document.getElementById('time-expiration');
                    profileImages.forEach((img) => {
                        img.src = userInfo.user.photoURL;
                    });
                    // profileImg.src = userInfo.user.photoURL;
                    profileName.innerHTML = userInfo.user.email;
                    timeLogin.innerHTML = `${userInfo.user.expirationTime}`;
                }
            });
        </script>

        <script>
            var message = "<%= message %>";
            console.log('message: ', message);
            // Kiểm tra xem có thông báo nào được trả về không
            if (message && message != '') {
                var errCode = "<%= errCode %>";
                
                if (errCode == 0) {
                    Toastify({
                        text: message,
                        duration: 3000,
                        destination: "https://github.com/apvarun/toastify-js",
                        newWindow: true,
                        close: true,
                        gravity: "bottom", // `top` or `bottom`
                        position: "right", // `left`, `center` or `right`
                        stopOnFocus: true, // Prevents dismissing of toast on hover
                        style: {
                            background: "linear-gradient(to right, #00b09b, #96c93d)",
                        },
                    onClick: function(){} // Callback after click
                    }).showToast();
                } else {
                    Toastify({
                        text: message,
                        duration: 3000,
                        destination: "https://github.com/apvarun/toastify-js",
                        newWindow: true,
                        close: true,
                        gravity: "bottom", // `top` or `bottom`
                        position: "right", // `left`, `center` or `right`
                        stopOnFocus: true, // Prevents dismissing of toast on hover
                        style: {
                            background: "linear-gradient(to right, #ff5f6d, #ffc371)", // Màu nền gradient cho thông báo lỗi
                            color: "#ffffff" // Màu chữ trắng cho nổi bật
                        },
                    onClick: function(){} // Callback after click
                    }).showToast();
                }
                
                // setTimeout(function() {
                //     window.location.href = redirectUrl;
                // }, 4000);
            }
            const easyMDE1 = new EasyMDE({element: document.getElementById('markdown-editor-symbol')});
            const easyMDE2 = new EasyMDE({element: document.getElementById('markdown-editor-precaution')});
            const easyMDE3 = new EasyMDE({element: document.getElementById('markdown-editor-reason')});
            const easyMDE4 = new EasyMDE({element: document.getElementById('markdown-editor-treatment')});
            const easyMDE5 = new EasyMDE({element: document.getElementById('markdown-editor-description')});
            var md = window.markdownit();

            // Symbol
            easyMDE1.codemirror.on("change", () => {
                var htmlContent = md.render(easyMDE1.value()); // Chuyển đổi Markdown sang HTML
                document.getElementById('html-content-symbol').innerHTML = htmlContent;
            });
            function resetContentSymbol() {
                easyMDE1.value(""); // Xóa toàn bộ nội dung trong trình soạn thảo
                document.getElementById('html-content-symbol').innerHTML = ""; // Xóa nội dung HTML đã hiển thị
            }
            // Precaution
            easyMDE2.codemirror.on("change", () => {
                var htmlContent = md.render(easyMDE2.value()); // Chuyển đổi Markdown sang HTML
                document.getElementById('html-content-precaution').innerHTML = htmlContent;
            });
            function resetContentPrecaution() {
                easyMDE2.value(""); // Xóa toàn bộ nội dung trong trình soạn thảo
                document.getElementById('html-content-precaution').innerHTML = ""; // Xóa nội dung HTML đã hiển thị
            }
            // Reason
            easyMDE3.codemirror.on("change", () => {
                var htmlContent = md.render(easyMDE3.value()); // Chuyển đổi Markdown sang HTML
                document.getElementById('html-content-reason').innerHTML = htmlContent;
            });
            function resetContentReason() {
                easyMDE3.value(""); // Xóa toàn bộ nội dung trong trình soạn thảo
                document.getElementById('html-content-reason').innerHTML = ""; // Xóa nội dung HTML đã hiển thị
            }
            // Treatment
            easyMDE4.codemirror.on("change", () => {
                var htmlContent = md.render(easyMDE4.value()); // Chuyển đổi Markdown sang HTML
                document.getElementById('html-content-treatment').innerHTML = htmlContent;
            });
            function resetContentTreatment() {
                easyMDE4.value(""); // Xóa toàn bộ nội dung trong trình soạn thảo
                document.getElementById('html-content-treatment').innerHTML = ""; // Xóa nội dung HTML đã hiển thị
            }
            // Description
            easyMDE5.codemirror.on("change", () => {
                var htmlContent = md.render(easyMDE5.value()); // Chuyển đổi Markdown sang HTML
                document.getElementById('html-content-description').innerHTML = htmlContent;
            });
            function resetContentDescription() {
                easyMDE5.value(""); // Xóa toàn bộ nội dung trong trình soạn thảo
                document.getElementById('html-content-description').innerHTML = ""; // Xóa nội dung HTML đã hiển thị
            }


            function validateFormDisease() {
                var diseaseName = document.getElementById('inputDiseaseName').value.trim();
                var markdownContent = easyMDE1.value().trim();
                if (diseaseName === "" || diseaseName.length > 30) {
                    alert("Disease name must not be empty and should be less than 30 characters.");
                    return false;
                }
                if (markdownContent === "") {
                    alert("Symbol must not be empty");
                    return false;
                }
               

                return true;
            }
        </script>
    </body>
</html>
