<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Plantix</title>

        <!-- Favicon -->
        <link rel="shortcut icon" href="../assets/images/logo.png" />
        <link rel="stylesheet" href="../assets/css/backend-plugin.min.css" />
        <link rel="stylesheet" href="../assets/css/backend.css?v=1.0.0" />
        <link rel="stylesheet" href="../assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" />
        <link rel="stylesheet" href="../assets/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css" />
        <link rel="stylesheet" href="../assets/vendor/remixicon/fonts/remixicon.css" />
    </head>
    <style>
        body {
            font-family: 'Segoe UI', sans-serif;
        }
        .la-bars:before {
            margin-left: 20px;
        }
    </style>

    <body class="  ">
        <div id="loading">
            <div id="loading-center"></div>
        </div>
        <!-- loader END -->
        <!-- Wrapper Start -->
        <div class="wrapper">
            <div class="iq-sidebar sidebar-default">
                <div class="iq-sidebar-logo d-flex align-items-center justify-content-between">
                    <a href="/manage-system/dashboard" class="header-logo">
                        <img src="../assets/images/logo.png" class="img-fluid rounded-normal light-logo" alt="logo" />
                        <h5 class="logo-title light-logo ml-3">Plantix</h5>
                    </a>
                    <div class="iq-menu-bt-sidebar ml-0">
                        <i class="las la-bars wrapper-menu"></i>
                    </div>
                </div>
                <div class="data-scrollbar" data-scroll="1">
                    <nav class="iq-sidebar-menu">
                        <ul id="iq-sidebar-toggle" class="iq-menu">
                            <li class=" ">
                                <a href="/manage-system/dashboard" class="svg-icon">
                                    <svg
                                        class="svg-icon"
                                        id="p-dash1"
                                        width="20"
                                        height="20"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    >
                                        <path
                                            d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"
                                        ></path>
                                        <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
                                        <line x1="12" y1="22.08" x2="12" y2="12"></line>
                                    </svg>
                                    <span class="ml-4">Trang chủ</span>
                                </a>
                            </li>
                             <li class=" ">
                                <a href="#product" class="collapsed" data-toggle="collapse" aria-expanded="false">
                                    <svg
                                        class="svg-icon"
                                        id="p-dash11"
                                        width="20"
                                        height="20"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    >
                                        <path
                                            d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"
                                        ></path>
                                    </svg>
                                    <span class="ml-4">Bệnh cây</span>
                                    <svg
                                        class="svg-icon iq-arrow-right arrow-active"
                                        width="20"
                                        height="20"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    >
                                        <polyline points="10 15 15 20 20 15"></polyline>
                                        <path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                                    </svg>
                                </a>
                                <ul id="product" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                                    <li class="">
                                        <a href="/manage-system/manage-diseases">
                                            <i class="las la-minus"></i><span>Quản lý bệnh cây</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="/manage-system/add-diseases">
                                            <i class="las la-minus"></i><span>Thêm bệnh</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class=" ">
                                <a href="/manage-system/manage-feedbacks">
                                    <svg
                                        class="svg-icon"
                                        id="p-dash4"
                                        width="20"
                                        height="20"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    >
                                        <path d="M21.21 15.89A10 10 0 1 1 8 2.83"></path>
                                        <path d="M22 12A10 10 0 0 0 12 2v10z"></path>
                                    </svg>
                                    <span class="ml-4">Phản hồi</span>
                                    <svg
                                        class="svg-icon iq-arrow-right arrow-active"
                                        width="20"
                                        height="20"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    >
                                        <polyline points="10 15 15 20 20 15"></polyline>
                                        <path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                                    </svg>
                                </a>
                            </li>

                           <li class=" ">
                                <a href="/manage-system/manage-histories">
                                    <svg
                                        class="svg-icon"
                                        id="p-dash12"
                                        width="20"
                                        height="20"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    >
                                        <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                                        <polyline points="14 2 14 8 20 8"></polyline>
                                        <line x1="16" y1="13" x2="8" y2="13"></line>
                                        <line x1="16" y1="17" x2="8" y2="17"></line>
                                        <polyline points="10 9 9 9 8 9"></polyline>
                                    </svg>
                                    <span class="ml-4">Lịch sử</span>
                                    <svg
                                        class="svg-icon iq-arrow-right arrow-active"
                                        width="20"
                                        height="20"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    >
                                        <polyline points="10 15 15 20 20 15"></polyline>
                                        <path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                                    </svg>
                                </a>
                            </li>
                            <li class="active">
                                <a href="#people" class="collapsed" data-toggle="collapse" aria-expanded="false">
                                    <svg
                                        class="svg-icon"
                                        id="p-dash8"
                                        width="20"
                                        height="20"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    >
                                        <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                        <circle cx="9" cy="7" r="4"></circle>
                                        <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                        <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                    </svg>
                                    <span class="ml-4">Người dùng</span>
                                    <svg
                                        class="svg-icon iq-arrow-right arrow-active"
                                        width="20"
                                        height="20"
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    >
                                        <polyline points="10 15 15 20 20 15"></polyline>
                                        <path d="M4 4h7a4 4 0 0 1 4 4v12"></path>
                                    </svg>
                                </a>
                                <ul id="people" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                                    <li class="">
                                        <a href="/manage-system/manage-users">
                                            <i class="las la-minus"></i><span>Quản lý người dùng</span>
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="/manage-system/add-new-user">
                                            <i class="las la-minus"></i><span>Thêm mới người dùng</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                   
                    <div class="p-3"></div>
                </div>
            </div>
            <div class="iq-top-navbar">
                <div class="iq-navbar-custom">
                    <nav class="navbar navbar-expand-lg navbar-light p-0">
                        <div class="iq-navbar-logo d-flex align-items-center justify-content-between">
                            <i class="ri-menu-line wrapper-menu"></i>
                            <a href="/manage-system/dashboard" class="header-logo">
                                <img src="../assets/images/logo.png" class="img-fluid rounded-normal" alt="logo" />
                                <h5 class="logo-title ml-3">Plantix</h5>
                            </a>
                        </div>
                        <div class="iq-search-bar device-search">
                            <form action="#" class="searchbox">
                                <a class="search-link" href="#"><i class="ri-search-line"></i></a>
                                <input type="text" class="text search-input" placeholder="Search here..." />
                            </form>
                        </div>
                        <div class="d-flex align-items-center">
                            <button
                                class="navbar-toggler"
                                type="button"
                                data-toggle="collapse"
                                data-target="#navbarSupportedContent"
                                aria-controls="navbarSupportedContent"
                                aria-label="Toggle navigation"
                            >
                                <i class="ri-menu-3-line"></i>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto navbar-list align-items-center">
                                    <li class="nav-item nav-icon search-content">
                                        <a
                                            href="#"
                                            class="search-toggle rounded"
                                            id="dropdownSearch"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false"
                                        >
                                            <i class="ri-search-line"></i>
                                        </a>
                                        <div
                                            class="iq-search-bar iq-sub-dropdown dropdown-menu"
                                            aria-labelledby="dropdownSearch"
                                        >
                                            <form action="#" class="searchbox p-2">
                                                <div class="form-group mb-0 position-relative">
                                                    <input
                                                        type="text"
                                                        class="text search-input font-size-12"
                                                        placeholder="type here to search..."
                                                    />
                                                    <a href="#" class="search-link"><i class="las la-search"></i></a>
                                                </div>
                                            </form>
                                        </div>
                                    </li>
                                    <li class="nav-item nav-icon dropdown">
                                        <a
                                            href="#"
                                            class="search-toggle dropdown-toggle"
                                            id="dropdownMenuButton2"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false"
                                        >
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="20"
                                                height="20"
                                                viewBox="0 0 24 24"
                                                fill="none"
                                                stroke="currentColor"
                                                stroke-width="2"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                class="feather feather-mail"
                                            >
                                                <path
                                                    d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
                                                ></path>
                                                <polyline points="22,6 12,13 2,6"></polyline>
                                            </svg>
                                            <span class="bg-primary"></span>
                                        </a>
                                    </li>
                                    <li class="nav-item nav-icon dropdown">
                                        <a
                                            href="#"
                                            class="search-toggle dropdown-toggle"
                                            id="dropdownMenuButton"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false"
                                        >
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="20"
                                                height="20"
                                                viewBox="0 0 24 24"
                                                fill="none"
                                                stroke="currentColor"
                                                stroke-width="2"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                                class="feather feather-bell"
                                            >
                                                <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
                                                <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
                                            </svg>
                                            <span class="bg-primary"></span>
                                        </a>
                                    </li>
                                    <li class="nav-item nav-icon dropdown caption-content">
                                        <a
                                            href="#"
                                            class="search-toggle dropdown-toggle"
                                            id="dropdownMenuButton4"
                                            data-toggle="dropdown"
                                            aria-haspopup="true"
                                            aria-expanded="false"
                                        >
                                            <img
                                                src="../assets/images/user/1.png"
                                                alt="user"
                                                class="img-fluid rounded profile-img"
                                            />
                                        </a>
                                        <div class="iq-sub-dropdown dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <div class="card shadow-none m-0">
                                                <div class="card-body p-0 text-center">
                                                    <div class="media-body profile-detail text-center">
                                                        <img
                                                            src="../assets/images/page-img/profile-bg.jpg"
                                                            alt="profile-bg"
                                                            class="rounded-top img-fluid mb-4"
                                                        />
                                                        <img
                                                            src="../assets/images/user/1.png"
                                                            alt="profile-bg"
                                                            class="rounded profile-img img-fluid avatar-70 profile-img"
                                                        />
                                                    </div>
                                                    <div class="p-3">
                                                        <h5 class="mb-1" id="profile-name"></h5>
                                                        <p class="mb-0">Phiên làm việc kết thúc lúc:</p>
                                                        <p class="mb-0" id="time-expiration"></p>
                                                        <div
                                                            class="d-flex align-items-center justify-content-center mt-3"
                                                        >
                                                            <a href="/logout" class="btn border">Đăng xuất</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
               
        <div class="content-page">
     <div class="container-fluid add-form-list">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">THÊM MỚI NGƯỜI DÙNG</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form action="/post-crud" method="POST" data-toggle="validator" onsubmit="return validateForm()">
                            <div class="row"> 
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Tài khoản *</label>
                                        <input id="inputAccount" type="text" name="account" class="form-control" placeholder="Nhập tài khoản" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div> 
                                <div class="col-md-6">                      
                                    <div class="form-group">
                                        <label>Mật khẩu *</label>
                                        <input id="inputPassword" type="password" name="password" class="form-control" placeholder="Nhập mật khẩu" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>  
                                <div class="col-md-6">                      
                                    <div class="form-group">
                                        <label>Xác nhật mật khẩu *</label>
                                        <input id="confirmPassword" type="password" class="form-control" placeholder="Nhập xác nhận mật khẩu" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div> 
                                <div class="col-md-6">                      
                                    <div class="form-group">
                                        <label>Họ tên *</label>
                                        <input type="text" name="fullname" class="form-control" placeholder="Nhập họ tên" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>    
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Số điện thoại</label>
                                        <input id="phoneNumber" type="text" name="phonenumber" class="form-control" placeholder="Nhập số điện thoại">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div> 
                                
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Gender</label>
                                        <select name="gender" class="selectpicker form-control" data-style="py-0">
                                            <option>Nam</option>
                                            <option>Nữ</option>
                                        </select>
                                    </div>
                                </div> 
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Địa chỉ</label>
                                        <input type="text" name="address" class="form-control" placeholder="Nhập địa chỉ">
                                         <div class="help-block with-errors"></div>
                                    </div>
                                </div> 
                                
                               
                                                          
                            </div>                            
                            <button type="submit" class="btn btn-primary mr-2">Thêm mới</button>
                            <button type="reset" class="btn btn-danger">Làm mới</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page end  -->
    </div>
        </div>
        <!-- Wrapper End-->
        <footer class="iq-footer">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-inline mb-0">
                                    <li class="list-inline-item">
                                        <a href="../backend/privacy-policy.html">Privacy Policy</a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="../backend/terms-of-service.html">Terms of Use</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-lg-6 text-right">
                                <span class="mr-1"
                                    ><script>
                                        document.write(new Date().getFullYear());
                                    </script>
                                    ©</span
                                >
                                <a href="#" class="">Plantix</a>.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Backend Bundle JavaScript -->
        <script src="../assets/js/backend-bundle.min.js"></script>

        <!-- Table Treeview JavaScript -->
        <script src="../assets/js/table-treeview.js"></script>

        <!-- Chart Custom JavaScript -->
        <script src="../assets/js/customizer.js"></script>

        <!-- Chart Custom JavaScript -->
        <script async src="../assets/js/chart-custom.js"></script>

        <!-- app JavaScript -->
        <script src="../assets/js/app.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', (event) => {
                // Lấy link ảnh từ localStorage
                const userInfoStorage = localStorage.getItem('userInfo');

                // Kiểm tra xem link ảnh có tồn tại không
                if (userInfoStorage) {
                    // Gán link ảnh vào thẻ <img>
                    const userInfo = JSON.parse(userInfoStorage);
                    // const profileImg = document.getElementById('profile-img');
                    const profileImages = document.querySelectorAll('.profile-img');
                    const profileName = document.getElementById('profile-name');
                    const timeLogin = document.getElementById('time-expiration');
                    profileImages.forEach((img) => {
                        img.src = userInfo.user.photoURL;
                    });
                    // profileImg.src = userInfo.user.photoURL;
                    profileName.innerHTML = userInfo.user.email;
                    timeLogin.innerHTML = `${userInfo.user.expirationTime}`;
                }
            });
        </script>
        <script>
            function validateForm() {
                var account = document.getElementById('inputAccount').value;
                var password = document.getElementById('inputPassword').value;
                var confirmPassword = document.getElementById('confirmPassword').value;
                var phoneNumber = document.getElementById('phoneNumber').value
                // console.log(account, password, confirmPassword);

                if (account.trim() === "" || account.length > 30) {
                    alert("Account must not be empty and should be less than 30 characters.");
                    return false;
                }
                if (password.trim() === "" || password.length > 30) {
                    alert("Password must not be empty and should be less than 30 characters.");
                    return false;
                }
                if (password.trim() !== confirmPassword.trim()) {
                    alert("Passwords do not match.");
                    return false;
                }
                // var phoneno = /^\+?([0-9]{2})\)?[-. ]?([0-9]{4})[-. ]?([0-9]{4})$/;
                // if(!phoneNumber.value.match(phoneno)) {
                //     console.log('Invalid phone number format. Please enter a 10-digit number.');
                //     // Perform further action if needed, like displaying an error message
                // }
                return true;
            }
        </script>
    </body>
</html>
